/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap");

:root {
  --patriotic-blue: #0052a5;
  --patriotic-white: #f4f7f5;
  --patriotic-red: #e0162b;
}

body {
  margin: 0;
  font-family: "Saira Condensed", sans-serif, color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--patriotic-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Rock Salt", cursive;
  color: var(--patriotic-white);
}

header {
  background-image: linear-gradient(
    180deg,
    rgba(224, 22, 43, 1),
    rgba(224, 22, 43, 0.85)
  ) !important;
}

nav {
  font-size: 20px;
  color: var(--patriotic-white);
}

nav a {
  font-size: xx-large;
  transition: all 0.2s;
  color: var(--patriotic-white);
  text-decoration: none;
}

nav a:hover {
  color: var(--patriotic-blue);
  text-decoration: underline;
}

.header-cont a {
  text-decoration: none;
}

.header-cont a:hover {
  color: var(--patriotic-blue);
  text-decoration: underline;
}

.home {
  border-radius: 10px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 82, 165, 0.75),
    rgba(0, 82, 165, 0.4)
  ) !important;
  background-color: currentColor;
}

.home h2 {
  font-weight: bold;
}
