/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Saira Condensed", sans-serif, color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f4f7f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Rock Salt", cursive;
  color: #f4f7f5;
  text-decoration: none;
}

header {
  background-color: #e0162b;
}

nav {
  text-align: right;
  width: 100%;
  justify-content: center;
  font: bolder;
  font-size: 20px;
  color: #f4f7f5;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
  color: #f4f7f5;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  text-decoration: underline;
}

.home {
  background-color: #0052a5;
}
